extends layouts/main
//-  main.pug 전체 코드를복사해옴,   그리고 + 추가적인것들을 작성할것임

block content
    .form_container
        form(action=`/users${routes.changePassword}` method="post")
            input(type="password" placeholder ="Current password" name="oldPasswod")
            input(type="password" placeholder ="New password" name="newPassword")
            input(type="password" placeholder ="Verify New password" name="newPassword1")
            input(type="submit" value="Change Password")
            