extends layouts/main
//-  main.pug 전체 코드를복사해옴,   그리고 + 추가적인것들을 작성할것임
include mixins/videoBlock

block content
    .videos
        each item in videos
            +videoBlock({
                id:item.id,
                title: item.title,
                views: item.views, 
                videoFile: item.fileUrl
            })
            //- 이 정보들이 vidoeBlock으로 전달되어서 이 함수를 실행 시킴, 그리고 그 함수는 html로 내보냄