extends layouts/main
//-  main.pug 전체 코드를복사해옴,   그리고 + 추가적인것들을 작성할것임

block content
    .form-container
        form(action=routes.login,method="post" required=true)
            input(type="email", name="email", placeholder="Email" required=true)
            input(type="password", name="password", placeholder="Password" required=true)
            input(type="submit", value="Log In")
        include partials/socialLogin
        
            